.a{ background-color: #ff9e02;
    width: 500px;
    height: 500px;
}

.b{
    background-color: #66ff99;
    width: 50%;
    height: 50%
}
.c{
    font-family: monospace;
    font-weight: bold ;
    color: #ffff;
    font-size: 25px;
    background-color: #ff0000
}
.d{
    width: 50%;
    height: 50vh;
    background-color: rgb(0, 124, 247)
}
.e{
    width: 75vw;
    height: 50%;
    background-color: rgb(255, 0, 0)
}